:root {
  --DarkPrimaryColor: #d32f2f;
  --LightPrimaryColor: #ffcdd2;
  --PrimaryColor: #f44336;
  --TextColor: #ffffff;
  --AcentColor: #ff5252;
  --PrimaryText: #212121;
  --DividerColor: #bdbdbd;
}

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-areas:
    'navbar'
    'aside'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 14fr 3fr;
}

.navbar {
  font-family: 'Tilt Prism', cursive;
  grid-area: navbar;
  background-color: var(--DarkPrimaryColor);
  color: var(--TextColor);
  display: flex;
  font-size: large;
  font-size: 25px;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid var(--LightPrimaryColor);
  align-items: center;
}
.navbar_logo img {
  height: 50px;
  color: var(--TextColor);
}
.navbar_menu_lista {
  display: none;
}
.aside {
  grid-area: aside;
  background-color: var(--DividerColor);
}
.main {
  grid-area: main;
  background-image: url('/assets/img/02_santiago.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
  animation: myAnim 30s ease 0s 1 normal forwards;

}

@keyframes myAnim {
	0% {
		background-position: center top;
		background-size: 100%;
	}

	100% {
		background-position: center top;
		background-size: 150%;
	}
}
.footer {
  grid-area: footer;
  background-color: var(--LightPrimaryColor);
  border: 1px solid var(--DarkPrimaryColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--DarkPrimaryColor);
  align-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer_socialmedia {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.footer_text {
  text-align: center;
}
/*MODO TABLET - OPCIONAL*/
@media (min-width: 576px) and (max-width: 991px) {
  .container {
    display: grid;
    grid-template-areas:
      'navbar navbar'
      'aside main'
      'aside pagination'
      'footer footer';
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 0.5fr 6fr 0.3fr 0.5fr;
  }
}

/*MODO ESCRITORIO*/
@media (min-width: 992px) {
  .container {
    display: grid;
    grid-template-areas:
      'navbar aside'
      'navbar main'
      'footer footer';
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 5.5fr 1fr;
  }
  .navbar_menu_icono {
    display: none;
  }

  .navbar {
    display: flex;
    font-size: large;
    font-size: 25px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--LightPrimaryColor);
    align-items: center;
  }
  .navbar_nombre{
    text-align: center;
  }
  .navbar_logo img {
    height: 80px;
  }
  .navbar_menu_lista {
    padding-top: 50px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    font-size: 18px;
    gap: 20px;
    text-align: center;
  }
  .navbar_menu_lista_item a {
    text-decoration: none;
    color: var(--LightPrimaryColor);
    font-weight: bolder;
  }

  .navbar_menu_lista_item a:hover {
    color: var(--TextColor);
    text-shadow: 2px 5px 9px #F9F9F9, 5px 5px 10px #D54848;

  }
  .navbar_menu_lista_item a:focus {
    color: var(--TextColor);
    text-shadow: 2px 5px 9px #F9F9F9, 5px 5px 10px #D54848;

  }
}
